.drawer-container {


  background: #1a1a1a;
}

.main-content {
  min-height: 100vh;
  background-image: linear-gradient(to top, #030030eb, #3764edac);
  color: #ffffff;
}

.drawer {
  position: fixed;
  top: 59px; /* Adjust this value based on the height of your navbar */
  left: 0;
  max-height: calc(100vh - 60px); /* Subtract the height of the navbar from the viewport height */
  background: #141414;
  border-right-width: 1px;
  border-right-style: solid;
  border-image: linear-gradient(to bottom, #030030, #3764ed) 1;
}

.drawer-button {
  color: white !important;
  background: #1b1b1b !important;
  width: 100%;
  padding: 20px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3764ed;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 60px;
  background: #000000;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #030030, #3764ed) 1;
  z-index: 999; /* Add a higher z-index value */
}

.health-label {
  color: #3764ed;
}

.spacer {
  flex: 1 1 auto;
}

//heart rate
.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  overflow: hidden;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #141414;
  top: 0;
  right: 0;
  animation: heartRateIn 4.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 4.5s linear infinite;
  background: #141414;
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
