<div class="row section1">
  <div class="col-12 text-center">
    <h1 class="title py-4">Welcome to the Weight Journal</h1>
    <P>
      Introducing our all-in-one fitness app designed to help you track and
      visualize your weight progress, monitor lifting progression, and manage
      your training schedules. With a user-friendly interface, easily log and
      monitor your weight to track your progress over time. Whether you're
      aiming to gain muscle or lose weight, our app provides a convenient
      platform to visualize your transformation. Additionally, you can record
      your lifts, track personal records, and gain insights into your strength
      gains. Seamlessly input and manage your training programs, exercises, and
      workout routines to stay organized and motivated. Our app also calculates
      your daily calorie requirements based on your profile, ensuring you meet
      your nutritional needs. Take control of your fitness journey with our
      comprehensive features for weight tracking, lifting progress monitoring,
      and training program management. Download now and start achieving your
      fitness goals!
    </P>
    <div class="col-12 text-center pt-5">
      <button class="button" mat-raised-button (click)="openRegisterDialog()">
        <mat-icon>assignment</mat-icon> Register
      </button>
      <button class="button ms-3" mat-raised-button (click)="openLoginDialog()">
        <mat-icon>account_circle</mat-icon> Login
      </button>
    </div>
  </div>
  
</div>
<div class="row section2">
  <div class="col-12 ">
    <h1 class="title py-4">Create Graphs to Track your progress!</h1>
    <P>
      Our website offers a comprehensive tracking and visualization system tailored specifically for strength sports and (body)weight goals. With our functionality, you can easily monitor your progress and visualize it through dynamic graphs.

      The tracking feature allows you to input relevant data such as weights lifted, sets completed, or body measurements. This data is then processed and transformed into visually appealing graphs that provide a clear representation of your progression over time.
      
      These graphs serve as valuable tools to analyze trends, identify areas of improvement, and celebrate milestones achieved. Whether you are focused on increasing strength in specific lifts or managing your body weight, our graphs offer precise and insightful visualizations of your journey.
      
      By utilizing our website's tracking and graphing capabilities, you can stay motivated, make informed decisions, and effectively track your strengthsports progress. Start harnessing the power of data visualization today and witness the impact it has on your pursuit of success.
    </P>
  </div>
  
</div>
<div class="row section3 me-auto">
  <div class="col-12  me-auto flex-column">
    <h1 class="title py-4 text-end">Amplify Your Journey with Advanced Calculators</h1>
    <P>
      This webapp also offers an array of powerful calculators designed to enhance your health journey. Our Calorie Calculator enables you to determine the ideal calorie intake specific to your goals, whether it's building muscle, losing weight, or maintaining your physique. This tool provides personalized recommendations based on your unique needs.

      With our Physical Activity Level Calculator, you can accurately estimate your energy expenditure by considering your daily activity and exercise habits. This valuable information helps you gauge the intensity and frequency of your training.
      
      To help you track and gauge your progress, our Estimated One Rep Max Calculator provides an estimate of your maximum weight capacity for various exercises. By inputting your lifting performance, such as weight lifted and repetitions, you gain insights into your strength potential.
      
      Additionally, our BMR Calculator allows you to discover your Basal Metabolic Rate, which is the number of calories your body requires at rest. Understanding your BMR assists in planning your nutrition and optimizing your energy balance.
      
      These calculators are invaluable tools, empowering you to make informed decisions regarding your training, nutrition, and overall progress. PowerUp equips you with the means to fine-tune your approach, unlocking your full potential in the world of strength sports.
    </P>
  </div>
  
</div>
